* {
    box-sizing: border-box;
}

body{
   
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    inset: 0 0 auto 0;
    height: 7%;
    background-color: rgb(103, 108, 111);
}

header a{
    margin-inline-start: 5%;
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-block-start: 10%;
    border: 0.5px solid grey;
    width: fit-content;
}

.book-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
    max-height: 220px;
    border: 0.5px solid grey;
}

img{
    width: 95%;
    padding: 7px;
    margin-block-start: 5px;
}

.book-title{
   padding: 5px;
   text-align: center;
}

.book-price{
    padding: 2px;
    text-align: center;
    color: rgb(190, 46, 13);
}

.options{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 216px;
    flex-direction: column;
    background-color: rgba(137, 143, 142, 0.85);
    opacity: 0;

    gap: 15%;
}

.options:hover{
    opacity: 1;
}

.options button{
    background-color: rgb(122, 125, 128);
    padding: 3%;
    width: 60%;
    border-radius: 10%;
}

a, button{
    cursor: grab;
}

.add-book-modal{
    height: 30%;
    width: 40%;
    background-color: rgb(163, 162, 162);
}

.add-book-modal form{
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;

}

.add-book-modal input, textarea{
    width: 70%;
    height: 77%;
    background-color: rgb(215, 215, 215);
    padding: 2%;
    outline: none;
}

.add-book-modal input::placeholder{
    /* color: rgb(8, 8, 8); */
}

.close-modal{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100%;
}

.add-btn{
    width: 20%;
    min-width: fit-content;
    margin-top: 3%;
    background-color: rgba(52, 51, 51, 0.752);
    color: rgb(161, 159, 159);
}

.add-book-modal input[type=text]:focus{
    border: 2.2px solid black;
}

.add-book-modal::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}

.add-book-modal h1{
    font-size: 100%;
}

.search-bar{
    border: none;
    outline: none;
}

.search-bar::placeholder{
    color: rgb(62, 60, 60);
}

.user-msg{
    position: absolute;
    bottom: 0;
    margin: 10px;
    background-color: rgb(36, 35, 35);
    color: whitesmoke;
    padding: 5px;
}

.hide{
    display: none;
}